<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tony.dao.RealtimeMapper" >
  <resultMap id="BaseResultMap" type="com.tony.entity.Realtime" >
    <id column="_realtime_id" property="realtimeId" jdbcType="INTEGER" />
    <result column="_weather_id" property="weatherId" jdbcType="INTEGER" />
    <result column="_sd" property="sd" jdbcType="VARCHAR" />
    <result column="_wd" property="wd" jdbcType="VARCHAR" />
    <result column="_ws" property="ws" jdbcType="VARCHAR" />
    <result column="_temp" property="temp" jdbcType="INTEGER" />
    <result column="_time" property="time" jdbcType="VARCHAR" />
    <result column="_weather" property="weather" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    _realtime_id, _weather_id, _sd, _wd, _ws, _temp, _time, _weather
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_realtime
    where _realtime_id = #{realtimeId,jdbcType=INTEGER}
  </select>
  <select id="selectByWeatherId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
  	<include refid="Base_Column_List"/>
  	from t_realtime
  	where _weather_id =#{weatherId,jdbcType=INTEGER}
  </select>
  <select id="find" resultMap="BaseResultMap" parameterType="com.tony.entity.Realtime">
  	select 
  	<include refid="Base_Column_List"/>
  	from t_realtime
  	where _weather_id =#{weatherId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_realtime
    where _realtime_id = #{realtimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tony.entity.Realtime" >
    insert into t_realtime (_realtime_id, _weather_id, _sd, 
      _wd, _ws, _temp, _time, 
      _weather)
    values (#{realtimeId,jdbcType=INTEGER}, #{weatherId,jdbcType=INTEGER}, #{sd,jdbcType=VARCHAR}, 
      #{wd,jdbcType=VARCHAR}, #{ws,jdbcType=VARCHAR}, #{temp,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, 
      #{weather,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tony.entity.Realtime" >
    insert into t_realtime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="realtimeId != null" >
        _realtime_id,
      </if>
      <if test="weatherId != null" >
        _weather_id,
      </if>
      <if test="sd != null" >
        _sd,
      </if>
      <if test="wd != null" >
        _wd,
      </if>
      <if test="ws != null" >
        _ws,
      </if>
      <if test="temp != null" >
        _temp,
      </if>
      <if test="time != null" >
        _time,
      </if>
      <if test="weather != null" >
        _weather,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="realtimeId != null" >
        #{realtimeId,jdbcType=INTEGER},
      </if>
      <if test="weatherId != null" >
        #{weatherId,jdbcType=INTEGER},
      </if>
      <if test="sd != null" >
        #{sd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=VARCHAR},
      </if>
      <if test="ws != null" >
        #{ws,jdbcType=VARCHAR},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="weather != null" >
        #{weather,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.entity.Realtime" >
    update t_realtime
    <set >
      <if test="weatherId != null" >
        _weather_id = #{weatherId,jdbcType=INTEGER},
      </if>
      <if test="sd != null" >
        _sd = #{sd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        _wd = #{wd,jdbcType=VARCHAR},
      </if>
      <if test="ws != null" >
        _ws = #{ws,jdbcType=VARCHAR},
      </if>
      <if test="temp != null" >
        _temp = #{temp,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        _time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="weather != null" >
        _weather = #{weather,jdbcType=VARCHAR},
      </if>
    </set>
    where _realtime_id = #{realtimeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.entity.Realtime" >
    update t_realtime
    set _weather_id = #{weatherId,jdbcType=INTEGER},
      _sd = #{sd,jdbcType=VARCHAR},
      _wd = #{wd,jdbcType=VARCHAR},
      _ws = #{ws,jdbcType=VARCHAR},
      _temp = #{temp,jdbcType=INTEGER},
      _time = #{time,jdbcType=VARCHAR},
      _weather = #{weather,jdbcType=VARCHAR}
    where _weather_id = #{weatherId,jdbcType=INTEGER}
  </update>
  <cache />
</mapper>