<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tony.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.tony.entity.User" >
    <id column="_id" property="id" jdbcType="VARCHAR" />
    <result column="_username" property="username" jdbcType="VARCHAR" />
    <result column="_password" property="password" jdbcType="VARCHAR" />
    <result column="_created_time" property="createdTime" jdbcType="VARCHAR" />
    <result column="_last_login" property="lastLogin" jdbcType="VARCHAR" />
    <result column="_image" property="image" jdbcType="VARCHAR" />
    <result column="_phone" property="phone" jdbcType="VARCHAR" />
    <result column="_name" property="name" jdbcType="VARCHAR" />
    <result column="_sex" property="sex" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    _id, _username, _password, _created_time, _last_login, _image, _phone, _name, _sex
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where _id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="find" resultMap="BaseResultMap" parameterType="com.tony.entity.User" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where _username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where _id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tony.entity.User" >
    insert into t_user (_id, _username, _password, 
      _created_time, _last_login, _image, 
      _phone, _name, _sex)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=VARCHAR}, #{lastLogin,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tony.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        _id,
      </if>
      <if test="username != null" >
        _username,
      </if>
      <if test="password != null" >
        _password,
      </if>
      <if test="createdTime != null" >
        _created_time,
      </if>
      <if test="lastLogin != null" >
        _last_login,
      </if>
      <if test="image != null" >
        _image,
      </if>
      <if test="phone != null" >
        _phone,
      </if>
      <if test="name != null" >
        _name,
      </if>
      <if test="sex != null" >
        _sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.entity.User" >
    update t_user
    <set >
      <if test="username != null" >
        _username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        _password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        _created_time = #{createdTime,jdbcType=VARCHAR},
      </if>
      <if test="lastLogin != null" >
        _last_login = #{lastLogin,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        _image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        _phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        _name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        _sex = #{sex,jdbcType=VARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.entity.User" >
    update t_user
    set _username = #{username,jdbcType=VARCHAR},
      _password = #{password,jdbcType=VARCHAR},
      _created_time = #{createdTime,jdbcType=VARCHAR},
      _last_login = #{lastLogin,jdbcType=VARCHAR},
      _image = #{image,jdbcType=VARCHAR},
      _phone = #{phone,jdbcType=VARCHAR},
      _name = #{name,jdbcType=VARCHAR},
      _sex = #{sex,jdbcType=VARCHAR}
    where _id = #{id,jdbcType=VARCHAR}
  </update>
  <cache />
</mapper>